<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#"><i class="far fa-address-book fa-lg"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="contact.contacts"> Contacts <i class="fas fa-users"></i></a>
                </li>
                <li  class="nav-item" ng-if="isAuthenticated()">
                    <a class="nav-link" ui-sref="contact.new"> Add New <i class="fas fa-plus"></i></a>
                </li>
            </ul>
            <div class="pull-right">
            <ul class="navbar-nav mr-auto" ng-if="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="register">Register <i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="login"> Login <i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto my-lg-0" ng-if="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link"> Hello! {{ getUsername() }}<i class="far fa-user-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="logOut()"> Logout <i class="fas fa-user-times"></i></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>